/* line 1, ../sass/creative_comments.scss */
#creativeCommentsHolder {
  z-index: 999999;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
}
/* line 8, ../sass/creative_comments.scss */
#creativeCommentsHolder .dialog {
  position: relative;
  margin: 0 auto;
  padding: 13px 15px;
  background-color: #FFFFFF;
  border: 1px solid #c4cde0;
  border-radius: 3px;
}
/* line 16, ../sass/creative_comments.scss */
#creativeCommentsHolder .dialog a.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 23, ../sass/creative_comments.scss */
#creativeCommentsHolder #creativeCommentsCommentHolder {
  width: 580px;
}
/* line 27, ../sass/creative_comments.scss */
#creativeCommentsHolder #creativeCommentsFormHolder {
  width: 580px;
  margin-bottom: 40px;
}
/* line 31, ../sass/creative_comments.scss */
#creativeCommentsHolder #creativeCommentsFormHolder #ccText {
  height: 150px;
}
/* line 36, ../sass/creative_comments.scss */
#creativeCommentsHolder #creativeCommentsLoginHolder {
  width: 580px;
}
/* line 40, ../sass/creative_comments.scss */
#creativeCommentsHolder #creativeCommentsMessage {
  position: relative;
  width: 510px;
  margin: 0 auto;
  padding: 14px;
  border: 1px solid #c4cde0;
  border-radius: 3px;
}
/* line 48, ../sass/creative_comments.scss */
#creativeCommentsHolder #creativeCommentsMessage.warning {
  background-color: #FCF8E3;
  color: #C09853;
}
/* line 53, ../sass/creative_comments.scss */
#creativeCommentsHolder #creativeCommentsMessage.success {
  background-color: #DFF0D8;
  color: #468847;
}
/* line 58, ../sass/creative_comments.scss */
#creativeCommentsHolder #creativeCommentsMessage.error {
  background-color: #F2DEDE;
  color: #B94A48;
}
/* line 63, ../sass/creative_comments.scss */
#creativeCommentsHolder #creativeCommentsMessage a.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
