#creativeCommentsHolder {
	z-index: 999999;
	position: fixed;
	top: 40px;
	left: 0;
	width: 100%;

	.dialog {
		position: relative;
		margin: 0 auto;
		padding: 13px 15px;
		background-color: #FFFFFF;
		border: 1px solid #C4CDE0;
		border-radius: 3px;

		a.close {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}

	#creativeCommentsCommentHolder {
		width: 580px;
	}

	#creativeCommentsFormHolder {
		width: 580px;

		#ccText {
			height: 150px;
		}
	}

	#creativeCommentsLoginHolder {
		width: 580px;
	}

	#creativeCommentsMessage {
		position: relative;
		width: 510px;
		margin: 0 auto;
		padding: 14px;
		border: 1px solid #C4CDE0;
		border-radius: 3px;

		&.warning {
			background-color: #FCF8E3;
			color: #C09853;
		}

		&.success {
			background-color: #DFF0D8;
			color: #468847;
		}

		&.error {
			background-color: #F2DEDE;
			color: #B94A48;
		}

		a.close {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
}